# Archivos de estado de Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
*.json

# Archivos de respaldo de Terraform
*.backup

# Archivos de configuración local
.terraform/
.terraform.lock.hcl


# Credenciales y variables sensibles
*.tfvars
override.tf
override.tf.json
*.pem
*.key
secrets.yaml

# Archivos generados por Terraform que no deberían estar en el control de versiones
.terraformrc
terraform.rc

# Extensiones ignoradas
.DS_Store
